@use './body.scss';


header {
    text-align: center;
}

.header2 {
    display: flex;
    justify-content: space-around;

}

.ingredients, .preparation  {
    border-style:dashed;
    border-color: hsl(318, 67%, 34%);
    border-width: 2px;
    padding: 7px;
    width: fit-content;
    height: fit-content;
    width:fit-content;
    height: fit-content;

    .reloj {
        width:50%;
        height: 50%;
    }

}

.ingredients {
    text-align: left;
}

h1 {
    background-color: hsl(319, 70%, 80%);
}

span {
    font-weight: bold;
}

ol {
    list-style: none;
    counter-reset: item;
  }
  li {
    counter-increment: item;
    margin-bottom: 5px;
  }
  li:before {
    margin-right: 10px;
    content: counter(item);
    background: rgb(28, 182, 233);
    border-radius: 50%;
    color: white;
    width: 1.2em;
    text-align: center;
    display: inline-block;
  }

    img {
        width: 40%;
        height: 40% ;
    }


    .recipe {
        text-align: center;
    }
    
    hr {
        width: 40%;
    }